/* New logout button styles */
.logout-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s;
}

.logout-btn img {
    width: 30px;
    height: auto;
}

.logout-btn:hover {
    background-color: #ff0000; 
}